*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(1, 70, 70);
}
.git{
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    color: white;
}
#ig1{
    width: 300px;
    height: 300px;
}
#ul1{
    background-color: black;
    color: white;
    width: 200px;
}